body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

.seed-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.seed-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.seed-header img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 5px;
}

.seed-header p {
  margin: 0 10px 0 0;
}

.seed-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.jewel-block {
  background-color: #2e2e2e;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  padding: 15px;
  margin-right: 10px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.jewel-details p {
  margin: 5px 0;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.GloriousVanity {
  color: #FF0000; /* Красный */
}

.LethalPride {
  color: #FF9900; /* Оранжевый */
}

.BrutalRestraint {
  color: #FFD700; /* Золотой */
}

.MilitantFaith {
  color: #008000; /* Зеленый */
}

.ElegantHubris {
  color: #C0C0C0; /* Серебряный */
}